.title {
    font-size: 20px;
    font-family: sans-serif;
    font-family: bold;
    text-align: center;
}

.position-absolute {
    position: absolute;
}

@media(min-width: 992px) {
    .div1 {
        width: 33%;
        position: absolute;
        background-color: gray;
        border: 3px solid black;
        box-sizing: border-box;
        float: left
        ;
    }
    .div2 {
        position: relative;
        top: 0;
        right: 0;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .div3 {
        width: 33%;
        position: absolute;
        background-color: gray;
        border: 3px solid black;
        box-sizing: border-box;
        float: left;
    }
    p {
        color: black;
    }
}

@media(max-width: 991px) and (min-width: 768px) {
    .div1 {
        width: 50%;
        position: absolute;
        background-color: gray;
        border: 3px solid black;
        box-sizing: border-box;
        float: left
        ;
    }
    .div2 {
        position: relative;
        top: 0;
        right: 0;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .div3 {
        width: 100%;
        position: absolute;
        background-color: gray;
        border: 3px solid black;
        box-sizing: border-box;
    }
    p {

    }
}

@media(max-width: 767px) {
    .div1 {
        width: 100%;
        position: absolute;
        background-color: gray;
        border: 3px solid black;
        box-sizing: border-box;
    }
    .div2 {
        position: relative;
        top: 0;
        right: 0;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .div3 {
        width: 100%;
        position: absolute;
        background-color: gray;
        border: 3px solid black;
        box-sizing: border-box;
    }
    p {

    }
}